li{
    list-style: none;
    float: left;
}



.header-left{
    float:left;
    margin: 30px;
    font-size:36px;

}

header {
    background-color: #fff;
    color: rgb(0, 0, 0);
    height: 100px;
}


.detail > li{
    padding: 50px 20px 20px 20px;
    font-size: 20px;
}

.sns{
    font-size: 45px;
    float:right;
    margin: 30px;
}

.sns > a{
    padding:20px;
    color: inherit;
}

.twi{
    color:blue;
}

.myimage{
    width: 50%;
}


.img-left{
    text-align: center;
}

.produce{
    position: relative;
    margin:0 auto;
    width: 80%;
    height: 100vw;
    max-height: 900px;
    background-image: url("/img/IMG_2103.JPG");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

.white-box {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 30px 0px;
    background-color: rgba(255,255,255,0.7);
}
.name1,.name2{
    margin-left: 30px;
}

.text-style{
    margin-left: 40px;
}

.about h2, .pr h2{
    position: relative;
    color: #333333;
    font-size: 25px;
    font-family: '游明朝';
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;
    display: block;
}

.pr h3{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 70px;
}

.pr-image1{
    float: left;
    width: 40%;
    margin: 30px 20px 30px 100px;

}

.pr-text{
    margin-top: 70px;

}

.pr-image2{
    float: right;
    height: 600px;
    width: 40%;
    margin-right:100px;
}

.pr-text2{
    margin: 70px 50px 30px 100px;
    width: 40%;
}

